{% extends 'base_main.html' %}
{% load static %}
{% block Title %}
    购物车
{% endblock %}
{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'axf/main/cart/css/cart.css' %}">
{% endblock %}


{% block content %}
    {{ block.super }}
    <div id="cart">
        <h3>购物车</h3>
        <div class="full">
            <section>
                <ul>
                    <li>收货人:action</li>
                    <li>电话:action</li>
                    <li>收货地址:xxxxx</li>
                </ul>
                <div class="bill">
                    <p>闪送超市</p>
                    <p>0元起送,22点以前送至目的地</p>
                    <a href="">凑单分区</a>
                </div>
                <div class="delivery">
                    <span>收货时间</span>
                    <span>1小时送达</span>
                    <a href="">可预定</a>
                </div>
                <div class="delivery">
                    <span>收货备注:</span>
                    <input type="text">
                </div>
                {% for cart in carts %}
                    <div class="menuList" cartid="{{ cart.id }}">
                        <div class="confirm">
                         <span>
                             {% if cart.c_is_select %}
                                 <span >✓</span>
                                 {% else %}
                                 <span ></span>
                             {% endif %}

                        </span>
                        </div>
                        <a href="">
                            <img src="/static{{ cart.c_goods.productimg }}" alt="">
                            <p>{{ cart.c_goods.productlongname }}</p>
                            <p class="presentPrice">{{ cart.c_goods.marketprice }}</p>
                        </a>
                        <section>
                            <button class="subShopping" >-</button>
                            <span>{{ cart.c_goods_num }}</span>
                            <button>+</button>
                        </section>
                    </div>
                {% endfor %}
                <div class="payTheBill">
                    <div class="all_select" >
                        <span >
                            {% if is_all_select %}
                                <span>✓</span>
                                {% else %}
                                <span></span>
                            {% endif %}
                        </span>
                    </div>
                    <p>
                        <span>全选</span>
                        <span>共计</span>
                        <span id="menoy">{{ total_price }}</span>
                    </p>
                    <button id="btn" class="btn">下单</button>
                </div>
            </section>
        </div>

    </div>
{% endblock %}
{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'axf/main/cart/js/cart.js' %}"></script>
{% endblock %}