{% extends 'base.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'axf/main/css/main.css' %}">
{% endblock %}

{% block header %}
    {{ block.super }}
    <header></header>
{% endblock %}

{% block footer %}
    {{ block.super }}
    <footer>
        <a href="{% url 'afxhome:home' %}" class="home">
            <dl>
                <dt><span></span></dt>
                <dd>主页</dd>
            </dl>
        </a>
        <a href="{% url 'axfmarket:market' %}" class="market">
            <dl>
                <dt ><span></span></dt>
                <dd>闪购</dd>
            </dl>
        </a>
        <a href="{% url 'axfcart:cart' %}" class="cart">
            <dl>
                <dt ><span></span></dt>
                <dd>购物车</dd>
            </dl>
        </a>
        <a href="{% url 'axfmine:mine' %}" class="mine">
            <dl>
                <dt><span></span></dt>
                <dd>我的</dd>
            </dl>
        </a>
    </footer>



{% endblock %}