{% extends 'base_user.html' %}
{% load static %}
{% block Title %}
    登录
{% endblock %}
{% block ext_css %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
        <div class="container">
           <form action="{% url 'axfuser:login' %}" method="post" onsubmit="return parse();">
               {% csrf_token %}
              <div class="form-group">
                <label for="exampleInputEmail1">用户名</label>
                <input type="text" name="name" class="form-control" id="Name" placeholder="请输入用户名">

              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">密码</label>
                <input type="password" name="password" class="form-control" id="Password" placeholder="请输入登录密码">
              </div>

               <img src="/axfuser/get_code/" style="" width="100px" height="50px" alt="" id="changeImage" onclick="chageImage();">
               <p style="padding-top: 8px ;margin-bottom: 5px;">请输入验证码:<input id="img_code" type="text" name="imgCode" height="50px"></p>
               <span style="color: red">{{ msg }}</span>


              <button type="submit" id="sub" class="btn btn-success btn-block" disabled >登录</button>
            </form>
        </div>
{% endblock %}
{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'axf/user/login/js/login.js' %}"></script>
{% endblock %}